*{
    margin:0;
    padding:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}   
body{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238dc8dd' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
    


.primerparrafo{
    padding: 2%;
   
             
}
.primeraimagen{
    width: 60%;
    padding: 2%;
    max-width: 100%;
}

.segundoparrafo{
    padding: 2%;
    padding-top: 0;
    
}

.imagen2{
    width: 60%;
    padding: 2%;
}
.general{
    border:black solid;
  
    margin:23%;
    margin-top:0;
    margin-bottom: 0;
    background-color: #e6e6fa;
}
.seccion1{
    padding-top: 0;
}
.facebook{
    float: bottom;
}
footer{
    align-items: center;
}
.redestelefono{
    background-color: #73aeff;
    border:black solid 1px;
    margin:40%;
    margin-bottom:0;
    margin-top: 0;
    text-decoration-color: white;
    cursor: pointer;
    color: black;
    
    
}
#redessocialiticas{
    display: none;
}