*{
    margin:0;
    padding:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}   
body{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238dc8dd' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
}
    


.primerparrafo{
    padding: 2%;
   
             
}
.primeraimagen{
    width: 60%;
    
    max-width: 160%;
  
  
}

.segundoparrafo{
    padding: 2%;
   
    
}

.imagen2{
    width: 60%;
   
    
   
}
.general{
    border:black solid;
  
    margin:23%;
    margin-top:0;
    margin-bottom: 0;
    background-color: #e6e6fa;
}
.seccion1{
    padding-top: 0;
}
.facebook{
    float: bottom;
}
footer{
    align-items: center;

}
#redessocialiticas{
    display: none;
    min-height: 100%;
}
.redestelefono{
    background-color: tomato;
    border:black solid 1px;
    margin:40%;
    margin-bottom:0;
    margin-top: 0;
    text-decoration-color: white;
    cursor: pointer;
    color: black;
}
.bases{
    display: flex;
    justify-content: right;
    background-color: tomato;
    margin:16.4%;
    border:solid black 1.5px;
    margin-left: 0;
    margin-top:0;
    position: absolute;
    left:77%;
    cursor: pointer;
}


.referenciasunu{
  float: right;
  float: top;
  text-align: right;
  border:black solid 2px;
  margin:23%;
  margin-top:0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #c1eaea;
  display: none;
  font-size:14px;

}
#Ocultar_Referencias{
    background-color: tomato;
    float: right;
    margin:16.4%;
    border:solid black 1.5px;
    margin-left: 0;
    margin-top:0;
    position: absolute;
    left:77%;
    cursor: pointer;
    display:none
}
.titulo{
    padding-top: 5%;
}

.preguntas{
    
    display: flex;
    width:40%;
    margin:7%;
    z-index:100;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #b7e7d2;
    position: absolute;
    top:1px;
    display: none;
    
    
}


.parrafos{
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 160%;
   
    
}
.titulos{
    font-size: 240%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.menu{
    position: sticky;
    float: right;
    margin-top: 0%;
    width:7%;
    cursor: pointer;
}
.Ocultar_menu{
    
    float: right;
    margin-top: 0%;
    width:7%;
    cursor: pointer;
    display:none;
}
@media (max-width: 600px) {
    .menu {
        float: left;
    }
    .Ocultar_menu{
      
        float: left;
       
    }
  }
  @media screen and (max-width: 1200px) {
    .preguntas{
        font-size: 77%;
    } 
  }
  @media screen and (max-width: 600px) {
    .preguntas{
        font-size: 74%;
    } 
  }
  @media screen and (max-width: 300px) {
    .preguntas{
        font-size: 65%;
    } 
  }
 
